footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-background-color-blue);
  color: white;
  padding: 20px;
  border-top: 1px solid white;
}

footer ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

footer ul li{
    margin: 10px 0;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}

